services:

  grpc-sample-gateway-prod:
    build:
      context: .
      dockerfile: docker/go.prod.Dockerfile
    image: ${IMAGE_NAME:-grpc-sample-gateway}:${IMAGE_VERSION:-latest}
    container_name: grpc-sample-gateway-prod

    networks:
      - traefik-network

    volumes:
      - .env.prod:/app/.env:ro

    ports:
      - "6000:5045"

networks:
  traefik-network:
    external: true
    name: traefik-network
