services:

  grpc-sample-gateway-prod:
    build:
      context: .
      dockerfile: docker/go.prod.Dockerfile
    image: ${IMAGE_NAME:-grpc-sample-gateway}:${IMAGE_VERSION:-latest}
    container_name: grpc-sample-gateway-prod

    env_file:
      - ./.env.prod

    ports:
       - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    environment:
      - GATEWAY_PORT=${GATEWAY_PORT}

networks:
  traefik-network:
    external: true
    name: traefik-network
